@import url('https://fonts.googleapis.com/css2?family=Play&family=Roboto&display=swap');

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    background-color: #cde9d5;
    height: 100%;
}

body h1 {
    font-family: Play, sans-serif;
}

a {
    margin: 1vmax;
    align-items: center;
    background-color: coral;
    text-decoration: none;
    justify-content: center;
    width: 20vmax;
    padding: 2vmax;
    border-radius: 5px;
    color: rgb(87, 6, 163);
}

a:visited{
    color: rgb(87, 6, 163);
}

#choices{
    display: flex;
    flex-direction: column;
    align-items: center;
}